$font-size: 10px;
.cli-container {
  @apply bg-black flex flex-col w-full h-full min-h-full text-green-500 p-2 overflow-y-auto;
  .cli-output {
    @apply whitespace-pre;
    pre{
      width: 100%;
      text-wrap: wrap;
      line-height: 1.5rem;
      font-size: $font-size !important;
    }
  }

  .cli-input {
    @apply flex items-center mr-1;
    font-size: $font-size !important;
    input {
      @apply bg-transparent border-none text-green-500 outline-none py-1 px-2 w-full;
      font-size: $font-size !important;
    }
  }
}

.typing-default, .default{
  background-color: black;
  color: #00ff00;
}

.typing-glitch, .glitch {
  animation: glitch 0.3s infinite;
  color: #ff00ff;
}

.typing-system, .system {
  color: #00dfff;
  font-weight: bold;
}

.typing-dramatic, .dramatic {
  color: #ffcc00;
  font-style: italic;
}
