<article class="project-section" title="SpaceX Launches">
  <div class="project-section-header">
    <h3>SpaceX Launches</h3>
    <p>
      The SpaceX app component is an excellent tool for accessing and exploring data related to SpaceX
      launches. Leveraging an open API, this component provides users with real-time information about various
      SpaceX missions. It serves as a gateway for enthusiasts, developers, and researchers to gain insights
      into the company’s launch history and upcoming events.
    </p>
  </div>
  <div class="project-example-container">
    <div class="w-full flex flex-col">
      <app-window-header [title]="'Space X Api Demo'"/>
      <app-space-x/>
    </div>
  </div>
</article>
