<div class="container flex flex-col bg-zinc-800/70
h-full w-full min-w-min  items-center justify-center overflow-y-auto p-4">

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
       [class]="'lg:grid-cols-' + (allTooltips.length * 2 + 1)">
    <div *ngFor="let tooltips of allTooltips" class="flex flex-col justify-center items-center">
      <div class="text-white text-sm text-center mb-2">{{ tooltips.title }}</div>
      <div class="flex flex-wrap justify-center gap-4">
          <div *ngFor="let tooltip of tooltips.tooltips"
               (click)="showNotify(
               tooltip,
               (tooltips.message ?? '') + buildNotifyMessage(tooltip))"
               [class]="tooltip.cssClass ?? 'tooltip-default'"
               class="w-[10vw] h-[10vw] sm:w-14 sm:h-14 shadow-xl shadow-black/40  active:shadow"
               [appTooltip]="tooltip.text"
               [tooltipShowArrow]="true"
               [tooltipSize]="tooltip.size ?? 'sm'"
               [tooltipPosition]="tooltip.position ?? 'top'"
               [tooltipAutoDismiss]="tooltip.autoDismissDelay ?? 3000"
               [tooltipfadeDuration]="tooltip.fadeDuration ?? 1000"
               [tooltipCssClass]="tooltip.toolTipClass ?? 'bg-zinc-800'"
          >
            {{ tooltip.text }}
          </div>
        </div>
    </div>

  </div>

  <div>
    <button class="mac-button" (click)="showDocs = !showDocs">{{ !showDocs ? 'Show' : 'Hide' }} Docs</button>
  </div>

  <ng-container *ngIf="showDocs" (click)="showDocs = false">
   <div class="prose h-full max-w-none overflow-y-auto max-h-64 bg-white px-2  border-t-2 border-zinc-800">
   <app-markdown-reader [filename]="docs"></app-markdown-reader>
   </div>
  </ng-container>

</div>
