@if (showOsNotifications()) {
  @defer (when showOsNotifications()) {
    <app-notification-server/>
  }
}
@if (showSiteHeader()) {
  <app-site-header/>
}
@if (showSiteHeader() && searchOverlay.isOpen()) {
  @defer (when searchOverlay.isOpen()) {
    <app-site-search-drawer [isOpen]="true" (closeSearch)="closeSearch()"/>
  }
}
<div
  class="min-h-screen bg-zinc-800/70"
  [class.site-theme-scope]="showSiteHeader()"
  [class.public-reader-scope]="showReaderTools()"
  [@routeAnimations]="prepareRoute(outlet)"
>
  <router-outlet #outlet='outlet'></router-outlet>
  @if (showReaderTools()) {
    @defer (when showReaderTools()) {
      <app-reader-tools/>
    }
  }
</div>
