<!-- app-window.component.html -->
<div tabindex="0" *ngIf="isVisible && !isMinimized" #appWindow
     (mousedown)="bringToFront($event)"
     class="app-window fixed flex flex-col max-w-full rounded-lg border border-white/10 shadow-lg overflow-hidden"
     [class.window-unfocused]="!focused"
     [ngClass]="[
       autoFit ? 'w-fit' : defaultWidth,
       autoFit ? '' : defaultHeight
     ]">
  <!-- Title Bar -->
  <div #header
       (dblclick)="resetWindowSize()"
       class="app-window-header relative flex items-center justify-between px-3 py-1  rounded-t-lg cursor-move select-none pointer-events-auto">
    <div class="flex space-x-1 text-zinc-700 cursor-pointer text-[6px]" (mouseenter)="showSizeIcons = !showSizeIcons"
         (mouseleave)="showSizeIcons = false">
      <fa-stack (click)="closeApp()">
        <fa-icon [icon]="faCircle" stackItemSize="2x" class="text-red-500"></fa-icon>
        <fa-icon [icon]="faTimes" stackItemSize="2x" [class.hidden]="!showSizeIcons"></fa-icon>
      </fa-stack>

      <fa-stack (click)="collapseApp()">
        <fa-icon [icon]="faCircle" stackItemSize="2x" class="text-yellow-400"></fa-icon>
        <fa-icon [icon]="faMinus" stackItemSize="2x" [class.hidden]="!showSizeIcons"></fa-icon>
      </fa-stack>

      <fa-stack (click)="minimizeToDock()">
        <fa-icon [icon]="faCircle" stackItemSize="2x" class="text-green-500"></fa-icon>
        <fa-icon [icon]="faUpRightAndDownLeftFromCenter" stackItemSize="1x" [class.hidden]="!showSizeIcons"></fa-icon>
      </fa-stack>
    </div>
    <div class="title text-xs text-white/90 font-medium truncate" [class.title-unfocused]="!focused">{{ title }}</div>
    <div class="w-12"></div>
  </div>

  <!-- Window Content Area -->
  <div [class.hidden]="isCollapsed" [class.h-full]="!isCollapsed" [class.window-unfocused]="!focused"
       class="overflow-hidden max-h-screen">
    <ng-container #appWindowContent></ng-container>
  </div>

  <!-- Resize Handle -->
  <div #resizeHandle [class.cursor-nwse-resize]="!autoFit"
       class="absolute bottom-0 right-0 w-4 h-4 bg-transparent"></div>
</div>
