p {
  @apply text-sm;
}

.padded-container {
  @apply w-full m-auto px-4 sm:px-8 md:px-24 lg:px-32;
}

.projects {
  @apply flex flex-col gap-y-8;
}

.resume-section {
  @apply w-full   py-12  px-2 sm:px-32 lg:px-64
  duration-700 ease-in-out opacity-80 hover:opacity-100
  hover:scale-[1.1] transition-all;

  .resume-experience {
    @apply text-sm
    flex flex-col
    text-left
    opacity-70
    hover:opacity-100
    transform-gpu
    transition-opacity
    duration-700
    ease-in-out;

    h3 {
      @apply text-pretty text-lg text-white/90 hover:scale-[1.1] transition-transform duration-700 ease-in-out;
    }

    p.r-loc-date {
      @apply text-[12px] italic text-gray-500 leading-none my-2;
    }

    ul {
      @apply text-[12px] list-disc list-inside;
      li {
        @apply text-white/90 list-item;
      }
    }
  }
}


.animate-blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
