<div class="flex flex-col h-screen pt-8 bg-gradient-to-b from-teal-950/50 to-black pointer-events-none overflow-x-clip">
  <header
    class="padded-container fixed top-0 left-0 w-full  bg-gradient-to-b from-teal-950/50 to-transparent z-30 h-fit pt-2">
    <app-main-header/>
    <app-main-sub-header/>
  </header>

  <main class="padded-container mx-auto text-center pointer-events-auto mt-48 max-w-7xl">

    <section #terminal [scrollThreshold]="220"
             appScrollClassToggle
             class="mb-12 mt-64 px-8"
             enterClasses="blur-2xl"
             exitClasses="blur-0">
      <app-window-header [title]="'About'"/>
      <app-home-terminal-window></app-home-terminal-window>
    </section>

    <div class="flex flex-col items-center py-4 no-scrollbar">

      <section class="flex flex-col items-center space-y-4">
        <!-- Projects Overview Section -->
        <app-projects-overview
          [features]="[
          {
            title: 'API Integration',
            summary: 'Integrate various opensource APIs to enhance functionality.',
            details: `APIs—the lifeblood of modern apps. They're like the friendly neighbors who lend you sugar (or data) when you need it. With APIs, I'm connecting to the world, pulling in functionality faster than you can say 'GET request'.`,
            animation: 'left'
          },
          {
            title: 'Modular Design',
            summary: 'Modular components for better maintainability and reusability.',
            details: 'Finally, Angular swoops in as the superhero framework. With its two-way data binding and slick component system, Angular makes building modular apps feel like assembling LEGO blocks—minus the accidental foot injuries.',
            animation: 'bottom'
          },
          {
            title: 'Responsive UI',
            summary: 'Responsive first design that adapts to popular devices.',
            details: `Now, TailwindCSS. It's the stylish friend who makes sure everything looks clean and polished. Why spend hours fiddling with CSS when you can slap on pre-built utility classes and call it a day?`,
            animation: 'right'
          }
        ]"
          description="Building a powerful operating system emulator with modern web technologies."
          githubUrl="https://github.com/ColinMichaels/ColinMichaels-Angular"
          title="Current Project(s)">
        </app-projects-overview>


        <section [scrollThreshold]="600"
                 appScrollClassToggle
                 class="projects"
                 duration="duration-1000"
                 enterClasses="blur-0"
                 exitClasses="blur-xl"
                 flyIn="bottom"
                 leaveTo="bottom">
          <app-project-item
            title="SpaceX Launches"
            description="The SpaceX app component is an excellent tool for accessing and exploring data related to SpaceX launches. Leveraging an open API, this component provides users with real-time information about various SpaceX missions. It serves as a gateway for enthusiasts, developers, and researchers to gain insights into the company's launch history and upcoming events.">
            <app-window-header [title]="'Space X Api Demo'"/>
            <app-space-x/>
          </app-project-item>


          <app-project-item
            title="Weather App"
            description="The Weather App is a simple and intuitive tool designed to help users track the weather in their area. It provides users with real-time information about the current weather conditions, including temperature, humidity, and wind speed. It also provides users with a detailed forecast for the next few days, allowing them to plan their day accordingly."
            [isReversed]="true">
            <app-window-header [title]="'Weather App'"/>
            <app-weather/>
          </app-project-item>

          <app-project-item
            title="Patch Builder"
            description="The Patch Builder is a simple and intuitive tool designed to help users create custom audio patches. It provides users with a visual interface for creating and editing audio patches, allowing them to create custom instruments or perform custom music. It also provides users with a detailed report of their patch, allowing them to review their work and make adjustments as needed.">
            <app-window-header [title]="'Web Audio Patch Builder'"/>
            <app-defaultPatch-editor/>
          </app-project-item>

          <app-project-item
            title="Task App"
            description="Task App is a straightforward and efficient tool designed to help users manage their tasks effortlessly. This lightweight task tracker focuses on simplicity and functionality, making it an excellent choice for those who need a quick way to organize their work. Currently, the app operates without a database, storing tasks locally on the user's device. This approach ensures a seamless and fast experience, while also maintaining user privacy by keeping data offline. However, it's worth noting that this is a work in progress, with plans to expand its capabilities in the future."
            [isReversed]="true">
            <app-window-header [title]="'Task App'"/>
            <app-task-app/>
          </app-project-item>

          <app-project-item
            title="Tooltip Examples"
            description="The Tooltip Examples is a simple and intuitive tool designed to help users learn about the different types of tooltips available in Tailwind CSS. It provides users with a visual interface for exploring the different types of tooltips, allowing them to learn about the different types of tooltips available in Tailwind CSS.">
            <app-window-header [title]="'Tooltips & Notifications'"/>
            <app-tooltip-examples/>
          </app-project-item>

          <app-project-item
            title="Tailwind Class Generator"
            description="The Tailwind Class Generator is a simple and intuitive tool designed to help users generate Tailwind CSS utility classes. It provides users with a visual interface for generating utility classes, allowing them to quickly generate classes for common layout and styling needs. It also provides users with a detailed report of their classes, allowing them to review their work and make adjustments as needed."
            [isReversed]="true">
            <app-window-header [title]="'Tailwind Class Generator'"/>
            <app-tailwind-preview/>
          </app-project-item>


        </section>

      </section>

      <!-- Disclaimer Section -->
      <app-disclaimer
        [icon]="faExclamationTriangle"
        [workIcon]="faPersonDigging"
        message="Notice: This site is currently a work in progress and is under construction. As such, you may encounter bugs or incomplete features. We appreciate your understanding as we work to enhance your experience.">
      </app-disclaimer>


      <section class="flex flex-col items-center space-y-4 mb-24">
        <a class="text-teal-700 hover:underline border border-white/50 p-4 rounded-lg shadow-md bg-blue-600/10"
           href="https://forms.gle/kfsZYFRzJcQYfruw9"
           target="_blank">
          Report a Bug!
        </a>
      </section>
    </div>

    <div class="fixed bottom-28 left-0">
      <app-joke-tray/>
    </div>

  </main>
  <footer class="pointer-events-auto">
    <app-socials/>
  </footer>

</div>

