<div class="flex flex-wrap justify-center space-x-8 items-center  text-gray-400
bg-gradient-to-t  from-black via-[#0f172a] to-transparent py-4">
  <ng-container *ngFor="let link of links">
    <div class="group hover:scale-[1.5] hover:-translate-y-4">
      <button
        [routerLink]="(link.type === 'external') ? ['/external/' + encodeUrl(link.link)] : link.link"
        [title]="link.title"
        [class]="['group', link.class]"
        [appTooltip]="link.tooltip"
        [tooltipfadeDuration]="0"
        [tooltipAutoDismiss]="0"
        [tooltipCssClass]="[link.tooltipClass,'rounded-full text-sm p-1 mb-2'].join(' ')"
      >
        <fa-icon [icon]="link.icon"></fa-icon>
      </button>
    </div>
  </ng-container>
</div>


